@use 'common' as *;

.App {
  margin-top: $space-lg;
  padding: $space-lg;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  border: $line-sm solid $black-color;
  border-radius: $round-lg;
  background-color: $bg-color;
  .component, .document {
    width: 100%;
    @media screen and (min-width: 700px) {
      width: 50%;
    }
  }
  .component {
    h5 {
      margin-top: 0;
      margin-bottom: $space-md;
    }
  }
  .document {
    padding-left: $space-md;
    box-sizing: border-box;
    h3 {
      margin: 0;
      // text-align: center;
    }
    ul {
      li {
        margin-bottom: $space-sm;
        span {
          font-size: $font-sm;
        }
      }
      h5 {
        margin: 0;
      }
    }
  }
}