$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//colors
$white: #fff;
$blue_200: #BFDBFE;
// scss-docs-start gray-color-variables source: bootstrap
// light theme
$light_background: #E2E8F0;

$light_blue_1: #2563EB;
$light_blue_2: #1D4ED8;

