.dropdown-items{
  position: absolute;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  background: #fff;
  z-index: 500;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(55 66 77 / 20%);
}

.dropdown-items> * {
  display:block;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-items> *:hover, .dropdown-items>*[active] {
  background-color: #00000024;
}

.dropdown-items-active {
  visibility: visible;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}

.dropdown-items-default {
  & {
    box-sizing: border-box;
    border: 1px solid var(--border-color);
  }
  & > * {
    border-bottom: 1px solid var(--border-color);
  }
  & > *:last-child {
    border-bottom: none;
  }
}
.dropdown-items-outline {
  & {
    border: 1px solid var(--border-color);
    box-sizing: border-box;
  }
  & > * {
    border-bottom: 1px solid var(--border-color);
  }
}
.dropdown-items-flat {
  & {
    box-sizing: border-box;
  }
}
.dropdown-items-nude {
  & {
    box-sizing: border-box;
  }
}

/* Size */
.dropdown-items-s > * {
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1rem;
}
.dropdown-items-m > * {
  padding: 0.375rem 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.dropdown-items-l > * {
  padding: 0.625rem 1.8rem;
  font-size: 1.7em;
  line-height: 1.32rem;
}

.dropdown-items-active{
  display:block;
}